<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('Parciales/cabecera.html') %>
    <title>Contacto</title>
</head>
<body>
    
    <%- include('Parciales/navegacion.html') %>
    <div class="container">
        <form action="/Formulario" method="post">

        </form><hr>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th> Tarea </th>
                    <th> Descripcion</th>
                    <th> Estado</th>
                </tr>
            </thead>

            <tbody>
                <%for(let i = 0; i< task.length; i++){%>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><strong> <%= task[i].title %></strong></td>
                        <td><strong> <%= task[i].description %></strong></td>
                    </tr>
                <% }%> 
            </tbody>
        </table>
    </div>
    <div class="wrapper">

    </div>
    <%- include('Parciales/pie.html') %>
</body>
</html>