<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('Parciales/cabecera.html') %>
        <title>Inicio</title>

</head>

<body>
    <%- include('Parciales/navegacion.html') %>

        <div class="wrapper container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="card my-3" style="width:18rem; min-height: 462px; ">
                        <img src="/IMG/nodejs.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Node.js</h5>
                            <p class="text-justify">Node.js es un entorno en tiempo de ejecución multiplataforma, de código
                                abierto, para la capa del servidor basado en el lenguaje de programación JavaScript,
                                asíncrono.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-3 " style="width:18rem;">
                        <img src="/IMG/expre.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Express js</h5>
                            <p class="card-text">Express es un framework web, que esta alojado dentro del entorno de
                                ejecución NodeJS. Los beneficios clave de este framework, como configurar tu entorno de
                                desarrollo y como realizar tareas en desarrollo web.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card my-3" style="width:18rem;">
                        <img src="/IMG/js.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Javascript</h5>
                            <p class="card-text">JavaScript es un lenguaje de programación interpretado, dialecto del
                                estándar ECMAScript. Se define como orientado a objetos, ​ basado en prototipos,
                                imperativo, débilmente tipado y dinámico.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <i class="fi-xwsuxx-js"></i>
                </div>
                <div class="col-sm-6">
                    <p>Primera practica con node.js, creación de sitio web by Jorddy</p>
                </div>
            </div>
        </div>
        <%- include('Parciales/pie.html') %>
</body>

</html>